@import 'reset';
@import 'cmp';
header {
  padding:10px 24px 15px;
  border-bottom: 1px solid $city-grey-20;
  @media #{$notebook} {
    margin-left: 16px;
    margin-right: 16px;
  }
  @media #{$phone} {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.head__nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  .head__nav--inner {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center; 
  }
  .logo {
    justify-content: flex-start;
    flex-grow: 1;
    text-align: left;
    h1 {
      color:#fb4357;
      font-size:28px;
      font-weight: 500;
      font-family: 'Dhyana', sans-serif;
    }
  }
  .nav { 
    flex-grow: 1;
    @media #{$phone} {
      display: none;
      &.menuOpen {
        display: block;
        position: fixed;
        left: 0;
        top: 64px;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        z-index: 20;
        padding: 20px;
        ul {
          flex-direction: column;
        }
      }
   }
    ul{
    display: flex;
    justify-items: center;
    justify-content: end;
    gap:30px;
    li {
      a {
        font-weight: 500;
        font-size: 18px;
        color: #222;
        line-height: 1.500em;
        font-family: 'Noto Sans KR', '돋움', Dotum, sans-serif;
        @media #{$phone}{
          display: block;
        }
      }
      ul {
      display: none;
    }
  }
  }
    
  }
  .search {
    justify-content: flex-end;
    padding-left:20px;
    i {
      font-size:25px;
    }
  }
}
.mobile-menu {
  display: none;
  @media only screen and (max-width: 768px) {
      display:block;
      button {
          position: relative;
          margin-right: 16px;
          .bar {
              &:nth-child(1) {
                  top:3px;
                  left:0;
              }
              &:nth-child(2) {
                  top:12px;
                  left:0;
              }   
          }
          &.menuOpen {
          .bar {
              &:nth-child(1) {
                  transform: rotate(-47deg);
                  top: 11px;
              }
              &:nth-child(2) {
                  transform: rotate(47deg);
              }                
             }
          }

      }
  }
  .bar {
          display: block;
          position: absolute;
          height:3px;
          width:22px;
          margin:5px 0;
          background-color: #666;
          transition: all 0.3s;
      }
}
.container {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;  
  .article__wrap {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 1280px;
    min-height: 100%;
    padding:20px;
    margin: 0 auto;
  }
}

.footer {
  color: #666;
  background-color: #f8f8f8;
  border-top:1px solid $city-grey-25;
  .footer__link--area {
    padding:15px 20px;
    max-width: 1280px;
    margin: 0 auto;
    border-bottom:1px solid $city-grey-25;
    a {
      color:$midnight-black-70;
      font-size: 18px;
      margin-right: 20px;
    }
  }
  .footer__info {    
    font-size: 13px;
    color:#666;
    padding:20px 20px 50px;
    max-width: 1280px;
    margin: 0 auto;
  }
}

//common 
.sub-img {
  width: 100%;
  height:200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  background-color: #EBEAE6;
}